{% extends 'base.html.twig' %}

{% block title %}
<title>
   À propos
  </title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="col-md-7 mx-auto">
<div class="card mb-3" id="about">
    <h3 class="card-header text-center">Cocoa Dream</h3>
    <div class="card-body">
      <h5 class="card-title mt-5 text-center">Un savoir-faire ancestral</h5>
    </div>
    <img style="height: 710 px; width: 100%; display: block;" src="{{asset('images/img3.jpg')}}" class="animated fadeIn" id="about-pic">
    <div class="card-body">
      <p class="card-text" id="presentation">En 1915, vingt-cinq maîtres chocolatiers et torréfacteurs sont rassemblés au sein de « la Fabrique de chocolats ». Il n’est pas rare à l’époque, de voir les automobiles Cocoa Dream sillonner la ville pour livrer ses détaillants.

        Dès les années 1920, Cocoa dream se lance dans la torréfaction de cacao. Depuis, l’entreprise est restée familiale, et est dirigée par la quatrième génération.
        
        En 1958, Cocoa Dream obtient une médaille d'or à l'Exposition universelle de Bruxelles.
        
        En 1983, Cocoa Dream devient commandeur de la confrérie des chocolatiers de France.

        La chocolaterie obtient son 3e ruban bleu, en 1990, lors du salon de la chocolaterie à Paris, sa reconnaissance nationale est établie et lui ouvre les portes de grandes maisons parisiennes.

        Depuis 2010, Cocoa Dream exporte ses créations à New York, Shanghai, Tokyo.

        En 2014, Cocoa Dream obtient le label EPV.

        En 2018, la chocolaterie possède 15 magasins à Lyon, 7 magasins en région lyonnaise ainsi que d'autres à Paris, Grenoble, Marseille, Chambéry.
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cocoa Dream &copy</li
    </ul>
    <div class="card-footer text-muted">
      Depuis 102 ans
    </div>
  </div>
    </div>
</div>
{% endblock %}
