{% extends 'base.html.twig' %} {% block title %}
<title>
  Accueil
</title>
{% endblock %} 


{% block body %}

<div id="page-start">Page-start</div>

  <!-- Page Content -->
  <div class="container-fluid" id="div-banner">
      
    <!-- Carousel -->

    <div id="carouselExampleIndicators" class="carousel slide carousel-fade mx-auto" data-ride="carousel" id="banner-space" style="width: 86%">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner mx-auto  animated fadeIn" id="width-banner">
          <div class="carousel-item active">
            <img class= "d-flex w-100" src="{{asset('images/img13.jpg')}}" alt="First slide">
            <div class="carousel-caption d-none d-md-block" id="slogan">
              <h5>Cocoa Dream</h5>
              <p class="animated fadeIn text-responsive">Découvrez le plaisir d'un chocolat d'exception...</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class= "d-flex w-100" src="{{asset('images/banner.jpg')}}" alt="Second slide">
            <div class="carousel-caption d-none d-md-block" id="slogan">
              <h5>Cocoa Dream</h5>
              <p class="animated fadeIn">Découvrez le plaisir d'un chocolat d'exception...</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class= "d-flex w-100" src="{{asset('images/img6.jpg')}}" alt="Third slide">
            <div class="carousel-caption d-none d-md-block" id="slogan">
              <h5>Cocoa Dream</h5>
              <p class="animated fadeIn">Découvrez le plaisir d'un chocolat d'exception...</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    
  </div>

  <hr class="style-two">

    <div id="category1">
      <p class="product-title">Nos Plaisirs tout Chocolat</p>

      <hr class="style-two">

      <p class="partie1">A déguster sur place où à emporter...</p>
    </div>

<div class="container-fluid">
      <div class="row text-center">
      {% for row in result %}
            {% if row.category.id == 1 %}
      <div class="col-lg-3  col-md-6 col-xs-12">
        <div class="card" id="product-show">
        <img class="card-img-top mx-auto" src="{{asset('uploads/images/'~row.image)}}" alt="" id="animate">
          <div class="card-body">
            <h4 class="card-title" id="prod-title">{{row.name}}</h4>
            <p class="card-text">{{row.description[:20]}} ...</p>
          </div>
          <div class="card-body">
            <p class="card-text">{{row.price}} €</p>
          </div>
          <div class="card-footer">
            <a href="{{path('product',{id:row.id})}}" class="btn btn-outline-primary">Voir le produit</a>
          </div>
        </div>
      </div>
          {% endif %}
      {% endfor %}

    </div>
</div>

   
    <hr class="style-two">

  <div id="category2">
    <p class="product-title">Nos barres chocolatées</p>

      <hr class="style-two">

      <p class="partie1">Issues d'un cacao raffiné, elles vous feront voyager...</p>
  </div> 


<div class="container-fluid">
  <div class="row text-center">
    {% for row in result %}
          {% if row.category.id == 2 %}
    <div class="col-lg-3  col-md-6 col-xs-12">
      <div class="card" id="product-show">
      <img class="card-img-top mx-auto" src="{{asset('uploads/images/'~row.image)}}" alt="product image" id="animate">
        <div class="card-body">
          <h4 class="card-title">{{row.name}}</h4>
          <p class="card-text">{{row.description[:20]}} ...</p>
        </div>
        <div class="card-body">
          <p class="card-text">{{row.price}} €</p>
        </div>
        <div class="card-footer">
          <a href="{{path('product',{id:row.id})}}" class="btn btn-outline-primary">Voir le produit</a>
        </div>
      </div>
    </div>
        {% endif %}
    {% endfor %}

  </div>
</div>


  <hr class="style-two">

  <div id="category3">
    <p class="product-title">Nos idées cadeaux</p>

      <hr class="style-two">

      <p class="partie1">Pour le plaisir d'offrir...</p>
  </div> 

<div class="container-fluid">
   <div class="row text-center">
    {% for row in result %}
          {% if row.category.id != 1 and row.category.id != 2 %}
    <div class="col-lg-3  col-md-6 col-xs-12">
      <div class="card" id="product-show">
      <img class="card-img-top mx-auto" src="{{asset('uploads/images/'~row.image)}}" alt="" id="animate">
        <div class="card-body">
          <h4 class="card-title">{{row.name}}</h4>
          <p class="card-text">{{row.description[:20]}} ...</p>
        </div>
        <div class="card-body">
          <p class="card-text">{{row.price}} €</p>
        </div>
        <div class="card-footer">
          <a href="{{path('product',{id:row.id})}}" class="btn btn-outline-primary">Voir le produit</a>
        </div>
      </div>
    </div>
        {% endif %}
    {% endfor %} 

  </div>
</div>


{% endblock %}