{% extends 'base.html.twig' %}

{% block title %}
<title>
    Catégorie
</title>
{% endblock %}


{% block body %}
<div class="container" id="add-category">
<div class="mx-auto col-md-6">
<h1>Ajouter une Catégorie</h1>
{{form_start(form)}}
{{form_widget(form)}}
<button class="btn btn-primary" id="update-category">Ajouter</button>
{{form_end(form)}}
</div>
</div>
{% endblock %}