{% extends 'base.html.twig' %} 
{% block title %}
    <title>
        Se Connecter
    </title>
{% endblock %} 


{% block body %}
<div class="container" id="login">
    <div class="mx-auto col-md-6">
        <h1>Se Connecter</h1>
        {% if error %}
        <p>{{error.message}}</p>
        {% endif %}
        <form action="{{path('login')}}" method="post">

            <div class="form-group">
                <label for="exampleInputEmail1">Adresse Mail</label>
                <input type="email" name="_username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" value="{{lastEmail}}">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Mot de Passe</label>
                <input type="password" name="_password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-outline-success" id="btn-login">Se Connecter</button>
        </form>
    </div>
</div>


{% endblock %}
