<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block title %}
    <title>
        Skeleton
    </title>
    {% endblock %}

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->

    <link href="css/heroic-features.css" rel="stylesheet">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">

    <link rel="shortcut icon" href="{{asset('/images/favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{asset('images/favicon.ico')}}" type="image/x-icon">

    <link rel="stylesheet" href="{{asset('css/style.css')}}">

</head>

<!-- Script smooth scroll -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
	$(document).ready(function() {
		$('.js-scrollTo').on('click', function() { // Au clic sur un élément
			var page = $(this).attr('href'); // Page cible
			var speed = 900; // Durée de l'animation (en ms)
			$('html, body').animate( { scrollTop: $(page).offset().top }, speed ); // Go
			return false;
		});
	});
</script>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark  bg-dark fixed-top" >
        <div class="container">
            <a class="navbar-brand js-scrollTo" href="#page-start">Cocoa Dream</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{path("home")}}">Accueil
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') == false %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path("sign_up")}}">S'inscrire</a>
                    </li>
                    {% endif %}

                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') == false %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path("login")}}">Se Connecter</a>
                    </li>
                    {% endif %}

                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path("logout")}}">Déconnection</a>
                    </li>
                    {% endif %}
                    
                    
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path("add_product")}}">Ajouter produit</a>
                    </li>

                    <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Catégories
                        </a>
                        <div class="dropdown-menu animated fadeIn" id="dropdown" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="{{path("add_category")}}">Ajouter une Catégorie</a>
                          <div class="dropdown-divider animated fadeInDown"></div>
                          <a class="dropdown-item js-scrollTo" href="#category1">Desserts au Chocolat</a>
                          <a class="dropdown-item js-scrollTo" href="#category2">Barres Chocolatées</a>
                          <a class="dropdown-item js-scrollTo" href="#category3">Idées Cadeaux</a>
                        </div>
                      </div>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link" href="{{path("update_user")}}">Profil</a>
                    </li>
                    {% endif %}

                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="nav-item">
                        <a href="{{path("shopping_cart")}}"> <i class="fas fa-shopping-bag" title="Panier"></i></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block body %}

    {% endblock %}

    <!-- Footer -->
    <footer class="py-5  bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white" id="footer-first">Copyright &copy;Cocoa Dream 2018</p>
            <br>
            <p class="text-center text-white">Suivez-nous sur <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                & <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></p>
                <p class="text-center text-white">À Propos <a href="{{path("about")}}"><i class="fas fa-trophy ml-1" id="about-icon"></i></a>
        </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="{{asset('./js/index.js')}}"></script>
</body>

</html>