{% extends 'base.html.twig' %} 

{% block title %}
    <title>
        S'inscrire
    </title>
{% endblock %} 

{% block body %}
<div class="container" id="sign-up">
    <div class="mx-auto">
        <h1>S'inscrire</h1>
        {{form_start(form)}} {{form_widget(form)}}
        <button type="submit" class="btn btn-primary" id="btn-sign">Inscription</button>
        {{form_end(form)}}
    </div>
</div>

{% endblock %}
